
/*-------------------------------------------------------1st part start------------------------------------------*/


.firstpart{
    background-image: url('https://images.unsplash.com/photo-1518355077561-4af7abce973d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    width: 100%;
    height: 781px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 65%;

}
.text{
    padding-top: 32%;
    font-size: 70px;
}
.text1{
    font-size: 30px;
    font-weight: 600;
    padding-top: 3%;
}

/*-------------------------------------------------------1st part end------------------------------------------*/

/*-------------------------------------------------------2nd part start------------------------------------------*/
.secpart{
    padding: 100px 0px;
}

.text2{
    color:#255985 ;
    font-size: 50px;
    padding-bottom: 2%;
}
.text3{
    text-align: justify;
    font-size: 18px;
    padding-bottom: 3%;
}
.text4{
    color: #255985;
    font-size: 25px;
}

/*-------------------------------------------------------2nd part end------------------------------------------*/ 

/*-------------------------------------------------------3rd part start------------------------------------------*/ 


.thirdpart{
    background-color: #00305b;
    padding: 100px 0px;
}
.text5{
    color: white;
    text-align: center;
    padding-top: 10%;
}
.text6{
    color: white;
    text-align: center;
    padding-top: 7%;
}

/*-------------------------------------------------------3rd part end------------------------------------------*/ 

/*-------------------------------------------------------4th part start------------------------------------------*/ 

.fourpart{
    background-color: white;
    padding: 7% 0px;
}
.text7{
    text-align: center;
    color:  #00305b;
    font-size: 55px;
    
}
.text8{
    text-align: center;
    color:  #00305b;
    font-size: 22px;
    padding-top: 1%;
    margin-bottom: 5%;
}

.text9{
    
    color: #014581;
    text-align: center;
}
.cate{
    background-color: #ffffff;
    border-radius: 50%;
    width: 101%;
    height: 133%;
    box-shadow: 0px 0px 3px 3px #8595a3;
}
.notext{
    padding-top: 25%;
}
/*-------------------------------------------------------4th part end------------------------------------------*/ 

/*-------------------------------------------------------5th part start------------------------------------------*/ 

.fivepart{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/22/23/44/porsche-1851246__340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 333px;
    background-position: 0 -158px;
    
}
.text10{
    color: white;
    font-size: 25px;
    padding-top: 8%;
}
.mybtn{
    border-radius: 20px;
    width: 12%;
    color: #ffffff;
    border-color: #83c4ff;
}
/*-------------------------------------------------------5th part end------------------------------------------*/

/*-------------------------------------------------------6th part start------------------------------------------*/ 
.sixparimg1{
    width: 50%;
    height: 50%;
    padding-top: 20%;
}

.sixpatimg2{
    width: 60%;
    padding-top: 29%;
}
.sixpartimg3{
    width: 60%;
    padding-top: 20%;
}
.sixparthead1{
    text-align: center;
    padding-top: 2%;
}
.sixparthead2{
    padding-top: 2%;
    text-align: center;
}
.sixparthead3{
    text-align: center;
}


/*-------------------------------------------------------6th part end------------------------------------------*/ 

/*-------------------------------------------------------7th part start------------------------------------------*/ 

.sevenpart{
    background-color: #00305b;
    width: 100%;
    height: 900px;
}
.text13{
    color: white;
    font-size: 50px;
    padding: 50% 0px;
    text-align: center;
}
.hrtag{
    opacity: 100%;
    color: white;
}
.text14{
    color: white;
    padding-top: 4%;
}
.text15{ 
    color: white;
    font-size: 35px;
    padding-top: 8%;
}

/*-------------------------------------------------------7th part end------------------------------------------*/ 

/*-------------------------------------------------------8th part start------------------------------------------*/ 

.text16{
    text-align: center;
    padding-top: 5%;
}
.text17{
    text-align: center;
}

.contactform{
    text-align: center;
    padding-top: 2%;
}

.input1{    
    width: 15%;
    background-color: #9bd6e3;
    padding: 1% 1%;
    height: 51%;
    margin: 15px 5px;
}
.input2{
    width: 15%;
    background-color: #9bd6e3;
    padding: 1% 1%;
    margin: 15px 5px;
}
.input3{ 
    width: 31%;
    background-color: #9bd6e3;
    padding: 1% 1%;
    margin: 15px 5px;
}
.input4{
    width: 31%;
    background-color: #9bd6e3;
    padding: 2% 1%;
    margin: 15px 5px;
}
.input5{
    width: 8%;
    height: 45px;
    background-color: #99e1e1;
    border-radius: 10px;
}

/*-------------------------------------------------------8th part end------------------------------------------*/ 

/*-------------------------------------------------------9th part start------------------------------------------*/ 

.ninepart{
    background-color: #00305b;
    padding:4% 0px;
}
.logotext{
    color: white;
    font-size: 30px;
}
.text18{
    color: white;

}
.text19{
    color: white;
}
.icon{
    color: white;
    font-size: 30px;
    padding-right : 20px;  
}
.input6{
    width:100% ;
}
.hrtag1{
    opacity: 100%;
    color: white;
    margin-top: 5%;
}
.lasttext{
    color: white;
    text-align: center;
    padding-top: 1%;
}